<footer class="container_footer">

    <div><img src="/Assets/full_logo_white.png" alt="logo_blanc" width="100px">
    </div>
    <div class="content">
        <p>This is trademark of Coffee @2021</p>
        <ul>

            <li class="li_footer"><img src="/Assets/logo_linkedin.png" alt="logo_linkedin" width="30px">
            </li>
            <li class="li_footer"><img src="/Assets/logo_twitter.png" alt="logo_twitter" width="30px">
            </li>
            <li class="li_footer"><img src="/Assets/logo_facebook.png" alt="logo_facebook" width="30px">
            </li>
        </ul>

    </div>


</footer>