<header>
    <img class="logo" src="/Assets/full_logo_white.png" width="150px" alt="Mr Coffee Logo">
    <h1>My Schedules App</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/users">Users</a>
        <a href="/schedules">Schedules</a>
        <a href="/users/new">New User</a>
        <a href="/schedules/new">New Schedule</a>

    </nav>

</header>